@import '../../_variable';

.Dashboard { 
  margin: 50px;
    .dashboard-row {
        margin-top: 50px;
        font-size: 24px;
        .dashboard-box {
              box-shadow: $dashboard_box_shadow;
              border-radius: 20px;
              padding: 30px;
              margin-bottom: 40px;
              height: auto;
              min-height: 300px;
              .total-score {
                font-size: 50px;
                text-align: center;
                color: $color_blue1;
              }
              .score-date {
                margin-top: 24px;
                text-align: center;
                color: $color_blue1;
              }
              .form-score {
                display: flex;
                justify-content: center;
                .input-form {
                  margin-top: 25px;
                  width: 250px;
                  height: 42px;
                }
              }
              .burndowndate {
                font-size: 24px;
                text-align: center;
                margin: 20px;
                color: $color_blue1;
              }
              .score-btn {
                float: right;
                margin-top: 20px;
                background-color: $btn_color;
                // background-color: $color_green1;
              }
              .react-datepicker__input-container {
                input {
                  width: 250px;
                }
              }
        }
    }
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 28px;
    }
    .chart {
        display: flex;
        justify-content: center;  
    }

    .finish-btn {
      display: flex;
      justify-content: center;
    }
}

@media screen and (max-width: 600px) {
  .Dashboard {
    .dashboard-row {
      .dashboard-box {
        font-size: 16px;
        width: 300px;
        min-height: 100px;
        .total-score {
          font-size: 28px;
        }
        .burndowndate {
          font-size: 16px;
        }
        .form-score {
          .input-form {
            max-width: 120px;
          }
        }
        .react-datepicker__input-container {
          input {
            max-width: 120px;
          }
        }
      }
    }
  }
}
  